
<!DOCTYPE html>
<html>
<title> Edit {{PBI_name}} - {{pbi.project.name}} | Create new project | BackTrack</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
	<a href="{% url 'home' %}" class="w3-bar-item w3-button"><span style="color: brown">BackTrack</span></a>
	<!-- Right-sided navbar links. Hide them on small screens -->
	<div class="w3-right w3-hide-small">
	  {% if user.is_authenticated %}
	  <a href="{% url 'logout' %}" class="w3-bar-item w3-button"><span style="color: red">logout</span></a>
	  {% else %}
	  <a href="{% url 'login' %}" class="w3-bar-item w3-button"><span style="color: red">login</span></a>
	  {% endif %}
	  </div>
  </div>
  {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <div class="w3-card w3-center w3-red" style="letter-spacing:4px;">
            <br>ERROR: {{ message }}<br> <br>
          </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="w3-card w3-center w3-green" style="letter-spacing:4px;">
            <br>SUCCESS: {{ message }}<br> <br>
          </div>
        {% endif %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="w3-card w3-center w3-orange" style="letter-spacing:4px;">
				<br>WARNING: {{ message }}<br> <br>
			</div>
		{% endif %}
    {% endfor %}
  {% endif %}
</div>

<hr><hr>

<!-- Page content -->
<div class="w3-content" style="max-width:1000px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="home">
	{% if user.is_authenticated %}
	  <p>
	  <br><br><h1 class="w3-center">Edit your PBI</h1><br>
	  <center><h3><p class="w3-large w3-text-grey w3-hide-medium">Edit your PBI easily with BackTrack.</p></h3></center>
	  </p>
	  <hr>
      	<center>{% block content %}
			<form action="/editpbi/{{pbi.id}}/edit" method="GET" name="form1">
				{% csrf_token %}
				<table>
					<tr>
						<th>Name:</th>
						<td><input type="text" id="Pname" name="Pname" value="{{pbi.PBI_name}}"/>
						</td>
					</tr>
					<tr>
						<th>Description:</th>
						<td><input type="text" id="Pdescription" name="Pdescription" value="{{pbi.description}}"/>
						</td>
					</tr>
					<tr>
						<th>Estimited StoryPoint:</th>
						<td><input type="text" id="Pest_storypoint" name="Pest_storypoint" value="{{pbi.est_storypoint}}"/>
						</td>
					</tr>
					<tr>
						<th>Priority</th>
						<td><input type="text" id="Ppriority" name="Ppriority" value="{{pbi.priority}}"/>
						</td>
					</tr>
					<tr>
						<th>PBI Status:</th>
						<td><input type="text" id="PPBI_status" name="PPBI_status" value="{{pbi.PBI_status}}"/>
						</td>
					</tr>
					<tr>
						<th colspan="2" align="center">
							<input type="submit" name="button" id="button" value="Submit">
							<input type="reset" name="button2" id="button2" value="Reset">
					</tr>
				</table>
			</form>
		{% endblock %}</center>
	  <hr>
	  <p>
	  <center><a href="javascript:history.back()" class="w3-bar-item w3-button" color="#3b5998">Go back to product backlog</a></center>
	  </p>
	{% else %}
	  <p>
	  <br><br>
	  <center><h3><p class="w3-large w3-text-grey w3-hide-medium">You have to log in first.</p></h3></center>
	  <hr>
	  <center><a href="{% url 'home' %}" class="w3-bar-item w3-button" color="#3b5998">Return</a></center>
	  </p>
	{% endif %}
  </div>

</div>
